

/* Variables Basicas */

:root {

    --skyblue:  #00d4ff ;
    --text: white;
    --blacker-navy: #020024;
    --topdown-bg: #091cc3;

}

/* Body - Fondo, Color y Fuente */
/* MARGIN BOTTOM A RETIRAR */

body {

    background: linear-gradient(180deg, var(--blacker-navy) 0%, navy 35%, var(--skyblue) 100%);
    background-repeat: space;
    color: var(--text);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    margin-bottom: 100%;
    animation: fadeIn 2s ease-in-out;


}

/* Header y Footer - Altura, Fondo */
/* A TERMINAR */

.title {

    min-height: 180px;

}

.title h1 {

    font-size: 80px ;

}

header {

    min-height: 40px;
    background-color: var(--topdown-bg);


}
article {

    margin: 1%;

}

.first {

    min-height: 600px;
    background-color: var(--topdown-bg);
    display: grid;
    padding: 1%;
    color: black;

}

.first p {

    text-align:justify;
    padding: 1%;

}

button {

    color: #ffffff;
    background-color: #070798;
    border: 1px solid #ffffff;
    padding: 8px;
    border-radius: 16px;
    transition: background-color 0.3s ease;
}

button:hover {

    background-color: rgb(0, 204, 255);

}

nav {

    text-align: left;
    padding: 1%;

}

.moreleft {

    grid-template-columns: 45% 55% ;
    display: grid;
    border-radius: 20px;
    
}

.firstml {

    background: url(src/img1.jpg);
    background-size: cover;

}

.lastml {

    margin-left: 2%;
    background-color: white;

}

nav img {

    width: 10%;

}

#top-logo {

    margin-right: 80%;
    float: left;

}

nav #button-top {

    text-align: right;

}


ul {

    display: inline;
    list-style: none;

}

li {

    display: inline;

}



@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}