

/* Variables Basicas */

:root {

    --skyblue:  #00d4ff ;
    --text: white;
    --blacker-navy: #020024;
    --topdown-bg: #091cc3;

}

/* Body - Fondo, Color y Fuente */
/* MARGIN BOTTOM A RETIRAR */

body {

    background: linear-gradient(180deg, var(--blacker-navy) 0%, navy 35%, var(--skyblue) 100%);
    background-repeat: space;
    color: var(--text);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    animation: fadeIn 2s ease-in-out;

}

/* Header y Footer - Altura, Fondo */
/* A TERMINAR */

.title {

    min-height: 180px;

}

.title h1 {

    font-size: 80px ;

}

header {

    min-height: 40px;
    background-color: var(--topdown-bg);

}

article {

    margin: 1%;

}

.first {

    min-height: 600px;
    background-color: var(--topdown-bg);
    display: grid;
    padding: 1%;
    color: black;

}

.first p {

    text-align:justify;
    padding: 1%;

}

button {

    color: #ffffff;
    background-color: #070798;
    border: 1px solid #ffffff;
    padding: 8px;
    border-radius: 16px;
    transition: background-color 0.3s ease;
}

button:hover {

    background-color: rgb(0, 204, 255);

}

nav {

    text-align: left;
    padding: 1%;

}

.nav {

    display: grid;
    grid-template-columns: 80% 20%;

}

.moreleft {

    grid-template-columns: 45% 55% ;
    display: grid;
    border-radius: 20px;
    
}

.firstml {

    background: url(src/img1.jpg);
    background-size: cover;

}

.lastml {

    margin-left: 2%;
    background-color: white;

}

nav img {
    max-width: 150px;
    width: auto;

}

#top-logo {

    float: left;

}

nav #button-top {

    text-align: right;

}


.threesides {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 3%;
    
}

.threechild {

    min-height: 800px;
    background-color: white;
    color: black;
    padding: 5%;
}

.threechild h1 {

    font-size: 60px;
    margin-block: 20px;

}

.threechild ul {

    margin-top: 20px;

}

.threechild li {

    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 100;
    list-style-position: inside;

}

footer {

    min-height: 230px;
    background-color: var(--topdown-bg);
    text-align: center;

}

.footer {

    text-align: center;

}

.footer h6 {
    margin-inline: 10px;
    font-weight: 300;
    display: inline;

}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 764px) {

    .moreleft { grid-template-columns: 1fr;}
    .first p {font-size: 10px;}
    .firstml {display: none;}
    .lastml {padding: 7%;}

}

@media screen and (max-width: 714px) {
    .nav {

    display: grid;
    grid-template-columns: 55% 45%;

}

}

@media screen and (max-width: 864px) {

  .threesides { grid-template-columns: 1fr; }


}